.give-things {
  position: relative;
  .give-things-header {
    height: 100vh;
    background-image: url("../../assets/assets/Form-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: -20%;
    background-size: auto 100%;
    display: flex;
    justify-content: flex-end;
    .give-things-header-container {
      @include flex(column, flex-end);
      width: 100%;
      margin-right: 5%;
    }
  }
}
