.home-header-btns {
  width: 670px;
  margin-top: 70px;
  align-self: flex-end;
  text-align: center;
  .home-header-banner {
    @include header;
  }
  img {
    padding: 25px 0 55px 0;
  }
  .header-btns-box {
    @include flex(row, stretch);
    justify-content: space-evenly;
    button {
      @include button;
    }
  }
}
