.home-form {
  margin-top: 60px;
  height: 115vh;
  width: 100%;
  overflow: hidden;
  .home-form-container {
    background-image: url("../../assets/assets/Background-Contact-Form.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    .home-opacity-modifier {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      .home-form-form {
        width: 50%;
        height: 100%;
        float: right;
        @include flex(column, center);
        justify-content: center;
        .form-header {
          @include header;
          font-size: 1.7rem;
          padding-bottom: 10px;
        }
        .form-img {
          width: 33%;
          margin-bottom: 20px;
        }
        .form-inputs-box {
          margin-bottom: 20px;
          width: 70%;
          @include flex(row, flex-start);
          justify-content: space-between;
          .error {
            position: absolute;
            color: red;
            bottom: -43px;
            left: 0;
            font-size: 0.8rem;
          }
          .form-input-title {
            position: relative;
            width: 48%;
            font-weight: 600;
            line-height: 60px;
            @include flex(column, stretch);
            input {
              background-color: transparent;
              outline: none;
              height: 6vh;
              line-height: 11vh;
              padding: 0;
              font-size: 1.1rem;
              border: none;
              border-bottom: 1px solid $sixthColor;
              &::placeholder {
                color: rgba(60, 60, 60, 0.26);
              }
            }
          }
        }
        .form-text-box {
          position: relative;
          width: 70%;
          label {
            font-weight: 600;
            line-height: 60px;
            width: 100%;
            .error {
              position: absolute;
              bottom: -14px;
              left: 0;
              color: red;
              font-size: 0.8rem;
            }
            @include flex(column, stretch);
            .form-text-area {
              background-color: transparent;
              color: rgba(60, 60, 60, 0.26);
              border: none;
              border-bottom: 1px solid $sixthColor;
              outline: none;
              font-size: 1.1rem;
              line-height: 1.2rem;
              height: 18vh;
              resize: none;
              font-family: $font-base;
              margin-bottom: 30px;
            }
          }
        }
        .form-button {
          cursor: pointer;
          align-self: flex-end;
          margin-right: 15%;
          font-size: 1.2rem;
          font-weight: 300;
          padding: 13px 52px;
          background-color: transparent;
          border: 0.75px solid $fifthColor;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
