.home-header {
  height: 100vh;
  display: flex;
  width: 100%;
  .home-header-img {
    width: 40%;
    height: 100vh;
    background-image: url("../../assets/assets/Home-Hero-Image.jpg");
    background-position: right bottom;
    background-size: 170%;
    background-repeat: no-repeat;
  }
  .home-header-container {
    @include flex(column, flex-end);
    width: 55%;
    height: 30vh;
  }
}
