.home-about {
  height: 90vh;
  width: 100%;
  background-color: $firstColor;
  @include flex(row, center);
  .about-container {
    text-align: center;
    width: 52%;
    @include flex(column, center);
    .about-header {
      @include header;
      padding-bottom: 26px;
    }
    img {
      width: 37%;
    }
    .about-content {
      width: 70%;
      padding-top: 30px;
      font-size: 1.5rem;
      line-height: 42px;
      letter-spacing: -0.6px;
    }

    .signature {
      width: 25%;
      align-self: flex-end;
      margin-right: 100px;
      margin-top: 20px;
    }
  }
  .team-box {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .team {
      height: 100%;
      position: absolute;
      top: 0;
      left: -15%;
    }
  }
}
