.registration {
  .home-logs {
    margin: 0;
    padding-top: 37px;
    margin-right: 6%;
  }
  .home-nav-list {
    justify-content: flex-end;
    margin-right: 5%;
  }

  .registration-container {
    @include flex(column, center);
    margin-top: 40px;
    .registration-header {
      @include header;
      margin-bottom: 10px;
    }
    img {
      width: 16%;
    }
    .registration-form {
      margin-top: 30px;
      width: 33%;
      @include flex(column, center);
      .registration-input-box {
        width: 67%;
        background-color: $firstColor;
        @include flex(column, center);
        .registration-input-title {
          width: 70%;
          position: relative;
          @include flex(column, stretch);
          margin-bottom: 30px;
          .error {
            position: absolute;
            bottom: -20px;
            left: 0;
            color: red;
            font-size: 0.8rem;
          }
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 40px;
          }
          input {
            outline: none;
            border: none;
            background-color: $firstColor;
            border-bottom: 0.75px solid $sixthColor;
            font-size: 1rem;
            line-height: 2.2rem;
          }
        }
      }
      .registration-btns-box {
        width: 88%;
        @include flex(row, stretch);
        justify-content: space-between;
        background-color: white;
        margin-top: 30px;
        .btn-register,
        .btn-login {
          display: inline-block;
          padding: 13px 15px;
          font-family: $font-base;
          font-weight: 300;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.3s;
          border: 0.75px solid white;
          background-color: white;
          &:hover {
            border-color: $sixthColor;
          }
        }
      }
    }
  }
}
