@media screen and (max-width: 1030px) and (orientation: portrait) {
  .home-help {
    width: 90vw;
    .help-btns-box {
      height: 10vh;
    }
  }
}
@media screen and (max-width: 1030px) and (orientation: landscape) {
  .home-help {
    width: 90vw;
    .help-btns-box {
      height: 10vh;
      margin-top: 30px;
      width: 80%;
    }
    .help-content {
      margin-top: 30px;
      width: 60vw;
    }
  }
}
@media screen and (max-width: 820px) and (orientation: landscape) {
  .home-help {
    .help-btns-box {
      height: 20vh;
      margin-top: 30px;
      width: 88%;
    }
  }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .home-help {
    .help-btns-box {
      margin-top: 30px;
      width: 88%;
    }
  }
}

@media screen and (max-width: 650px) {
  .home-help {
    .help-btns-box {
      justify-content: space-between;
      margin-top: 30px;
      width: 90%;
      .help-btn {
        height: 80%;
        width: 32%;
      }
    }
    .help-content {
      width: 75vw;
    }
  }
}
@media screen and (max-width: 500px) {
  .home-help {
    .help-btns-box {
      margin-top: 25px;
      .help-btn {
        font-size: 0.95rem;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .home-help {
    .help-btns-box {
      margin-top: 20px;
      .help-btn {
        font-size: 0.8rem;
      }
    }
  }
}
