@media screen and (max-width: 1000px) {
  .home-header-btns {
    margin: 70px 0 0 0;
    align-self: center;
  }
}

@media screen and (max-width: 650px) {
  .home-header-btns {
    width: 100%;
    margin: 70px 0 0 0;

    .home-header-banner {
      @include header;
      font-size: 1.8rem;
    }
    img {
      padding: 25px 0 50px 0;
    }
    .header-btns-box {
      a {
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        button {
          @include button;
          width: 80%;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-header-btns {
    img {
      padding: 25px 0 45px 0;
    }
    .header-btns-box {
      a {
        justify-content: space-around;
        button {
          @include button;
          width: 80%;
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .home-header-btns {
    img {
      padding: 20px 0 35px 0;
    }
    .header-btns-box {
      a {
        justify-content: space-around;
        button {
          @include button;
          width: 80%;
          font-size: 1.4rem;
        }
      }
    }
  }
}
