@media screen and (max-width: 1500px) and (orientation: landscape),
  (orientation: portrait) {
  .login {
    height: 100vh;
    .login-container {
      margin-top: 100px;
      img {
        width: 20%;
      }
      .login-form {
        width: 50%;
        .login-input-box {
          .login-input-title {
            margin-bottom: 70px;
            &:first-child {
              margin-top: 50px;
            }
            &:last-child {
              margin-bottom: 60px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .login {
    .login-container {
      margin-top: 30px;
      img {
        width: 30%;
      }
      .login-form {
        width: 0%;
        .login-input-box {
          .login-input-title {
            margin-bottom: 30px;
            &:first-child {
              margin-top: 30px;
            }
            &:last-child {
              margin-bottom: 45px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .login {
    .login-container {
      img {
        width: 20%;
      }
      .login-form {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .login {
    .login-container {
      img {
        width: 23%;
      }
      .login-form {
        width: 50%;
        .login-input-box {
          width: 75%;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .login {
    height: 187vh;
    .login-container {
      margin-top: 50px;
      .login-form {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .login {
    height: 160vh;
    .login-container {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 800px) and (orientation: portrait) {
  .login {
    height: 100vh;
    .login-container {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 670px) and (orientation: portrait) {
  .login {
    .login-container {
      img {
        width: 38%;
      }
      .login-form {
        width: 80%;
        .login-input-box {
          width: 85%;
        }
      }
    }
  }
}
@media screen and (max-width: 670px) and (orientation: landscape) {
  .login {
    height: 167vh;
    .login-container {
      img {
        width: 43%;
      }
      .login-form {
        width: 84%;
        .login-input-box {
          width: 89%;
        }
      }
    }
  }
}
@media screen and (max-width: 570px) and (orientation: landscape) {
  .login {
    height: 180vh;
    .login-container {
      img {
        width: 47%;
      }
      .login-form {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .login {
    .login-container {
      img {
        width: 44%;
      }
      .login-form {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .login {
    .login-container {
      img {
        width: 54%;
      }
      .login-form {
        width: 100%;
        .login-input-box {
          width: 85%;
          height: 44vh;
          justify-content: space-around;
          .login-input-title:last-of-type {
            .error {
              bottom: -30px;
            }
          }
        }
        .login-btns-box {
          margin-top: 15px;
        }
      }
    }
  }
}
