.form-step-two {
  height: 100%;
  @include flex(column, flex-start);
  .form-step-number {
    @include formNumber;
  }
  .form-header {
    @include header;
    padding-bottom: 10px;
  }
  .form-dropdown-box {
    margin-top: 40px;
    .form-dropdown-title {
      font-size: 1.2rem;
      font-weight: 300;
      margin-right: 10px;
    }
    .form-dropdown {
      outline: none;
      appearance: none;
      background-color: transparent;
      background-image: url("../../../assets/assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 18%;
      padding-left: 10px;
      font-family: $font-base;
      font-size: 1.2rem;
      font-weight: 300;
      width: 200px;
      height: 30px;
      option {
        line-height: 200%;
        width: 50%;
        font-weight: 300;
        background-color: #ececea;
      }
    }
  }
  .form-btns {
    margin-top: auto;
    margin-bottom: 40px;
    button {
      cursor: pointer;
      outline: none;
      width: 150px;
      padding: 15px 45px;
      border: 0.75px solid $fifthColor;
      background-color: #ececea;
      font-size: 1.2rem;
      font-family: $font-base;
      font-weight: 300;
      &:first-child {
        margin-right: 28px;
      }
    }
  }
}
