/* moj globalny css */
@import "./settings/colors";
@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/mixins";
html,
body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-base;
  max-width: 100%;
  height: 100%;
  color: $fifthColor;
}
.home {
  @include flex(column, center);
  position: relative;
}
//import styli poszczególnych komponentow
@import "./components/HomeHeader";
@import "./components/HomeHeaderNav";
@import "./components/HomeHeaderNavLogged";
@import "./components/HomeHeaderBtns";
@import "./components/HomeThreeColumns";
@import "./components/HomeFourSteps";
@import "./components/HomeAboutUs";
@import "./components/HomeHelp";
@import "./components/HomeHelpPagination";
@import "./components/HomeForm";
@import "./components/HomeFooter";
@import "./components/Login";
@import "./components/Registration";
@import "./components/Logout";
@import "./components/GiveThingsLayout";
@import "./components/GiveThingsBanner";
@import "./components//GiveThingsWarning";
@import "./components/Form/GiveThingsForm";
@import "./components/Form/FormStepOne";
@import "./components/Form/FormStepTwo";
@import "./components/Form/FormStepThree";
@import "./components/Form/FormStepFour";
@import "./components/Form/FormSummary";
@import "./components/Form/ThanksFormView";
@import "./components/HomeBurgerMenu.scss";

//import styli mobile
@import "./mobile/Mobile";
