/* moj globalny css */
@import "./settings/colors";
@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/mixins";
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-base;
  // width: 100%;
  max-width: 100%;
  height: 100%;
  color: $fifthColor;
}
.home {
  @include flex(column, center);
  position: relative;
  // max-width: 1300px;
  margin: 0 auto;
}

@import "./components/HomeHeader";
@import "./components/HomeHeaderNav";
@import "./components/HomeHeaderBtns";
@import "./components/HomeThreeColumns";
@import "./components/HomeFourSteps";
@import "./components/HomeAboutUs";
@import "./components/HomeHelp";
@import "./components/HomeHelpPagination";
@import "./components/HomeForm";
@import "./components/HomeFooter";
@import "./components/Login";
@import "./components/Registration";
@import "./components/Logout";
@import "./components/GiveThingsLayout";
@import "./components/GiveThingsBanner";
@import "./components/HomeHeaderNavLogged";
